.container
	.container1
		.container2
			= simple_form_for @pin, html: {multipart: true} do |x|
				%h3 Title
				= x.input :title , label: false, placeholder: ""
				%h3 Description
				= x.input :description, label: false, placeholder: ""
				= x.input :pix , label: false, as: :file , input_html: { accept: 'image/jpeg,image/gif,image/png'}
				= x.button :submit