<h1>Pin Index Pg</h1>

<% @pins do |j|%>
<div class="box">
	<p>Title <%= j.title%></p>
	<p>Description <%= j.description%></p>
	<%=link_to 'More Detail...', pin_path(j) %>
	<%=link_to 'Edit Pin', edit_pin_path(j)%>
	<%=link_to 'Rid', pin_path(j), method: :delete, data: { confirm: "(0w0) Are you sure?"}%>
</div>