#pins.transitions-enabled
	- @pins.each do |pin|
		.box
			.title
				=link_to pin.title, pin_path(pin)
			.imgg
				=link_to image_tag(pin.pix.url,:class => "imggg") if pin.pix?
			.tx
				%p.tx= pin.description

			.tx2
				= link_to "upvote", upvote_pin_path(pin), method: :put
				= pin.get_upvotes.size
				= link_to "downvote",downvote_pin_path(pin), method: :put
				= pin.get_downvotes.size

				=link_to "Edit", edit_pin_path(pin)
				=link_to "Rid", pin_path(pin), method: :delete, data: {confirm: "Are you sure?"}
		