%h1= @pin.title

%p	title
= @pin.title
%p description
= @pin.description
%p f
= @pin.user.email
%br
%p fgbfgbfg
= image_tag(@pin.pix.url, size: "300x300") if @pin.pix?

= render 'pins/nav' 